{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container h-100 body-footer-adjust">
    <div class="row h-100">
        <div class="col"></div>
        <div class="col-9 col-md-6">
            <div id="home-logo" class="mt-4">
                <img id="home-logo-img" src="/media/logo.png" class="img-fluid" alt="Sarah Rae Illustrations Logo">
            </div>
            <div id="homeCarousel" class="carousel slide mt-5 mx-auto" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for ca in carousel_artworks %}
                    <li data-target="#homeCarousel" data-slide-to="ca.counter0" {% if forloop.first %}class="active"
                        {% endif %}></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for ca in carousel_artworks %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img class="d-block w-100 carousel-image my-4" src="{{ ca.image.url }}" alt="{{ ca.image_alt}}">
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#homeCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#homeCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}