{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="Artist, Designer: Sarah Rae,
Orderform not valid">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container body-footer-adjust">
    <div class="row">
        <div class="col text-center mt-3">
            <hr class="w-25">
            <h2 class="logo-font text-sri-logo mb-4">Please Check your Details</h2>
            <p class="text-sri-logo">Some of the details were invalid</p>
            <hr class="w-25">
        </div>
    </div>


    {% endblock %}