html {
    height: 100%;
}

body {
    background: url('/static/images/homepage_background.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'El Messiri', sans-serif;
    height: calc(100vh - 175px);
}

a {
    color: rgb(248, 139, 104);
}

.body-footer-adjust {
    padding-bottom: 45px;
}

.bg-sri {
    background-color: rgb(77, 0, 82);
}

.dropdown-divider {
    border-color: rgb(248, 139, 104);
}

.dropdown_item {
    background-color: rgb(77, 0, 82);
    color: rgb(248, 139, 104);
}



.bg-sri-light {
    background-color: rgb(248, 139, 104);
}

hr {
    background-color: rgb(218, 145, 12) !important;
}

.toast-body hr {
    background-color: rgb(77, 0, 82);
}

/* from Bulma via Code Institute Boutique Ado Walkthrough */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

#logo-header-img {
    width: 30%;
    max-width: 100px;

}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.logo-text,
.text-sri-logo {
    color: rgb(218, 145, 12) !important;
}

#homeCarousel {
    width: 75%;
}

.carousel-image {
    width: 100%;
}

.footer-wrapper {
    background-color: rgb(77, 0, 82);
    width: 100vw;
    height: 45px;
}

.text-sri {
    color: rgb(248, 139, 104) !important;
}

.text-sri-dark {
    color: rgb(77, 0, 82);
}

a.text-sri-logo:hover {
    color: rgb(248, 139, 104) !important;
    text-decoration: none;
}

.text-muted {
    color: rgb(218, 145, 12) !important;
}

.nav-menu,
.btn-sri,
.nav-link {
    background: rgb(77, 0, 82);
    color: rgb(248, 139, 104);
}

.btn-sri {
    border: 3px solid rgb(248, 139, 104);
}

.btn-sri:hover,
.btn-sri:active,
.btn-sri:focus,
.nav-menu:hover,
.nav-menu:active,
.nav-menu:focus,
.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.main-logo-link:hover,
.main-logo-link:active,
.main-logo-link:focus,
.logo-text:hover,
.logo-text:active,
.logo-text:focus,
a:hover {
    background: rgb(248, 139, 104);
    color: rgb(77, 0, 82) !important;
}

a:hover {
    text-decoration: none;
}

.border-sri {
    border: 1px solid rgb(77, 0, 82) !important;
}

.border-sri-light {
    border: 1px solid rgb(248, 139, 104) !important;
}

.badge-sri {
    color: rgb(218, 145, 12) !important;
    border: 1px solid rgb(248, 139, 104) !important;
    border-radius: 20;
}

a.cat-badge>span.badge:hover {
    background: rgb(248, 139, 104) !important;
    color: rgb(77, 0, 82) !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgb(38, 2, 41);
    z-index: -1;
}

.qty_input {
    height: 45px;
    color: rgb(248, 139, 104);
    background: rgb(77, 0, 82);
    border-top: 3px solid rgb(248, 139, 104);
    border-bottom: 3px solid rgb(248, 139, 104);
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 60px;
    right: 35px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: rgb(220, 200, 164);
}

input[name='q'] {
    background: rgb(38, 2, 41);
}

input[name='q']:focus {
    color: rgb(218, 145, 12);
    background: rgb(38, 2, 41);
}

/* -------------------------------- Toasts */
.message-container {
    position: fixed;
    top: 168px;
    right: 20px;
    z-index: 9999992399;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 15px;
}

/* Copied from Code Institute Boutique Ado Walkthrough Project */
/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* End Copy */

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Vertically Center Carousel on  larger Medium devices (tablets, more than 992px) */
@media (min-width: 770px) {
    #center-column-index {
        display: flex;
        align-items: center;
        height: 100vh;
    }

    #home-logo {
        display: none;
    }
}

.container {
    max-width: 100%;
}

.order-confirmation-wrapper {
    border: 2px solid rgb(218, 145, 12);
}

/* copied from CI Boutique Ado Walkthrough for modification later */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }

    #footer {
        max-width: 100%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {

    /* consider adjusting this for ipads */
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }

    .header-container {
        padding-top: 175px;
    }
}

.form input,
.form textarea,
.form {
    background-color: rgb(77, 0, 82);
    color: rgb(248, 139, 104);
}

.form input:hover,
.form input::selection,
.form textarea::selection {
    color: rgb(49, 10, 52);
    background-color: rgb(248, 139, 104);
}

.form {
    background-color: rgb(49, 10, 52);
    color: rgb(218, 145, 12);
}

.form::placeholder {
    color: rgb(220, 200, 164);
}

.allauth-form-inner-content {
    color: rgb(218, 145, 12);
}


/* Product Form: */

.btn-file {
    position: relative;
    overflow: hidden;
    background-color: rgb(77, 0, 82);
    color: rgb(218, 145, 12);
}

.btn-file:hover {
    background-color: rgb(77, 0, 82);
    color: rgb(248, 139, 104);
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100;
    min-height: 100;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;

}

/* end copy */

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 80px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .message-container {
        position: fixed;
        top: 80px;
        right: 30px;
        z-index: 9999992399;
    }
}

/* End copy */

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}