html {
    height: 100%;
}

body {
    background: url('/media/homepage_background.png') no-repeat center center fixed;
    background-size: cover;
}

#homeCarousel {
    max-width: 100%;
    height: auto;
}

.nav-link {}

#logo-header-img {
    display: inline-block;
    height: 10vh;
}

#logo-text {
    display: inline-block;
}

.logo-header-container {
    display: inline-block;
}

.main-logo-link {}

.logo-font {}

.logo-text-colour {
    color: rgb(218, 145, 12);
}

.footer-wrapper {
    background-color: rgb(77, 0, 82);
}

.footer-items-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-items {
    display: inline-block;
    color: rgb(248, 139, 104);
}

/* -------------------------------- Media Queries */

/* Vertically Center Carousel on  larger Medium devices (tablets, more than 992px) */
@media (min-width: 770px) {
    #center-column-index {
        display: flex;
        align-items: center;
        height: 100vh;
    }

    #home-logo {
        display: none;
    }
}