<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar w-auto my-0 py-0 mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font dropdown-toggle font-weight-bold nav-link mr-5" href="{% url 'shop' %}"
                id="all-shop-items-link" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Shop
            </a>
            <ul class="dropdown-menu bg-sri" area-labelledby="all-shop-items-link">
                <li>
                    <a class="dropdown-item nav-link" href="{% url 'shop' %}">All Products</a>
                    <div class="dropdown-divider"></div>
                </li>
                <li>
                    <a class="dropdown-item nav-link" href="{% url 'shop' %}?category=jewellery">Jewellery</a>
                </li>
                <li>
                    <a class="dropdown-item nav-link" href="{% url 'shop' %}?category=sculpture">Sculpture</a>
                </li>
                <li>
                    <a class="dropdown-item nav-link" href="{% url 'shop' %}?category=stationary">Stationary</a>
                </li>
                <li>
                    <a class="dropdown-item nav-link" href="{% url 'shop' %}?category=art-prints">Art Prints</a>
                </li>
                <li>
                    <a class="dropdown-item nav-link" href="{% url 'shop' %}?category=books-and-tarot-decks">Books and
                        Tarot
                        Decks</a>
                </li>
            </ul>
        </li>
        <li class="nav-item d-none">
            <a class="logo-font font-weight-bold nav-link text-sri mr-5" href="#" id="Gallery-link">
                Sort Digital Art Works
            </a>
        </li>

        <li class="nav-item d-none">
            <a class="logo-font font-weight-bold nav-link text-sri mr-5" href="{% url 'commissions' %}"
                id="commissions-link">
                Commisions
            </a>
        </li>

        <li class="nav-item d-none">
            <a class="logo-font font-weight-bold nav-link text-sri" href="{% url 'about_sarah' %}"
                id="about-sarah=link">
                About Sarah
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link" href="{% url 'home' %}" id="about-sarah=link">
                Home
            </a>
        </li>
    </ul>
</div>