<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-5" href="{% url 'shop' %}" id="all-shop-items-link">
                Shop
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-5" href="{% url 'digital_artworks' %}" id="Gallery-link">
                Gallery
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-5" href="{% url 'commissions' %}" id="commissions-link">
                Commisions
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link" href="{% url 'about_sarah' %}" id="about-sarah=link">
                About Sarah
            </a>
        </li>
    </ul>
</div>