<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link taext-sri mr-5" href="#" id="all-shop-items-link">
                Shop
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-sri mr-5" href="#" id="Gallery-link">
                Gallery
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-sri mr-5" href="#" id="commissions-link">
                Commisions
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-sri" href="#" id="about-sarah=link">
                About Sarah
            </a>
        </li>
    </ul>
</div>