<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font dropdown-toggle font-weight-bold nav-link text-sri mr-5" role="button" href="#"
                id="sort-product-items-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort Products
            </a>
            <ul class="dropdown-menu" area-labelledby="sort-product-items-link">
                <li>
                    <a class="dropdown-item" href="{% url 'shop' %}?sort=price&direction=asc">By Price</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'shop' %}?sort=likes&direction=desc">By Likes</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'shop' %}?sort=category&direction=asc">By Category</a>
                </li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font dropdown-toggle font-weight-bold nav-link text-sri mr-5" role="button" href="#"
                id="all-product-items-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Product Categories
            </a>
            <ul class="dropdown-menu" area-labelledby="all-product-items-link">
                <li>
                    <a class="dropdown-item" href="{% url 'shop' %}">All Products</a>
                    <div class="dropdown-divider"></div>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'shop' %}?category=jewellery">Jewellery</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'shop' %}?category=sculpture">Sculpture</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'shop' %}?category=stationary">Stationary</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'shop' %}?category=art-prints">Art Prints</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'shop' %}?category=books-and-tarot-decks">Books and Tarot
                        Decks</a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-sri mr-5" href="{% url 'digital_artworks' %}"
                id="Gallery-link">
                Gallery
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-sri mr-5" href="{% url 'commissions' %}"
                id="commissions-link">
                Commisions
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-sri" href="{% url 'about_sarah' %}"
                id="about-sarah=link">
                About Sarah
            </a>
        </li>
    </ul>
</div>