{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
<div class="col text-center mt-3">
    <hr class="w-25">
    <h2 class="mb-4">{% trans "Set Password" %}</h2>
    <hr class="w-25">
</div>

<form method="POST" action="{% url 'account_set_password' %}" class="password_set">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" name="action" value="{% trans 'Set Password' %}">
</form>
<a href="{% url 'home' %}" class="btn btn-sri rounded-0">
    <span class="icon"><i class="fas fa-chevron-left"></i></span>
    <span class="logo-font">Home</span>
</a>
{% endblock %}