{% extends "account/base.html" %}

{% load i18n %}

{% block extra_meta %}
<meta name="description" content="
Reset Passowrd from key">
{% endblock %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<div class="col text-center mt-3">
    <hr class="w-25">
    <h2 class="mb-4">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
    <hr class="w-25">
</div>

{% if token_fail %}
{% url 'account_reset_password' as passwd_reset_url %}
<p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a
        href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
{% else %}
{% if form %}
<form method="POST" action="{{ action_url }}">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" name="action" value="{% trans 'change password' %}">
</form>
{% else %}
<p>{% trans 'Your password is now changed.' %}</p>
{% endif %}
{% endif %}
<a href="{% url 'home' %}" class="btn btn-sri rounded-0">
    <span class="icon"><i class="fas fa-chevron-left"></i></span>
    <span class="logo-font">Home</span>
</a>
{% endblock %}