{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block extra_meta %}
<meta name="description" content="
Confirm Passowrd reset from key">
{% endblock %}

{% block inner_content %}
<div class="col text-center mt-3">
    <hr class="w-25">
    <h2 class="mb-4">{% trans "Change Password" %}</h2>
    <hr class="w-25">
</div>
<p>{% trans 'Your password is now changed.' %}</p>
<a href="{% url 'home' %}" class="btn btn-sri rounded-0">
    <span class="icon"><i class="fas fa-chevron-left"></i></span>
    <span class="logo-font">Home</span>
</a>
{% endblock %}