{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block extra_meta %}
<meta name="description" content="
Confirm Reset Password">
{% endblock %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}
<div class="col text-center mt-3">
    <hr class="w-25">
    <h2 class="mb-4">{% trans "Password Reset" %}</h2>
    <hr class="w-25">
</div>

{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few
    minutes.{% endblocktrans %}</p>
<a href="{% url 'home' %}" class="btn btn-sri rounded-0">
    <span class="icon"><i class="fas fa-chevron-left"></i></span>
    <span class="logo-font">Home</span>
</a>
{% endblock %}