{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<div class="col text-center mt-3">
  <hr class="w-25">
  <h2 class="mb-4">{% trans "Sign Up" %}</h2>
  <hr class="w-25">
</div>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
  {% endif %}
  <a href="{% url 'home' %}" class="btn btn-sri rounded-0">
    <span class="icon"><i class="fas fa-chevron-left"></i></span>
    <span class="logo-font">Home</span>
  </a>
  <button class="btn btn-sri logo-font" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>


{% endblock %}