{% load static %}

<!doctype html>
<html lang="en">

    <head>
        {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}

        {% block corecss %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
            integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block extra_css%}
        {% endblock %}

        {% block corejs %}
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous">
        </script>
        {% endblock %}

        {% block extra_js %}
        {% endblock %}

        <title>Sarah Rae Illustrations {% block extra_title %}{% endblock %}</title>
    </head>

    <body>

        <header class="container-fluid fixed-top">
            <div class="row bg-blue pt-lg-2 d-none d-lg-flex">
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left logo-header-container">
                    <a href="{% url 'home' %}" class="nav-link main-logo-link">
                        <img id="logo-header-img" src="/media/logo.png" alt="Sara Rae Illustrations logo">
                        <h2 id="logo-text" class="logo-font logo-text-colour my-0"><strong>Sarah Rae
                                Illustrations</strong></h2>
                    </a>
                </div>
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <form method="GET" action="">
                        <div class="input-group w-100">
                            <input class="form-control border border-black rounded-0" type="text" name="q"
                                placeholder="Seach my shop">
                            <div class="input-group-append">
                                <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                            aria-haspopup="true" area-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="" class="dropdowm-item">Product Management</a>
                            <a href="" class="dropdowm-item">Gallery Management</a>
                            <a href="/admin/" class="dropdowm-item">Site Administration</a>
                            {% endif %}
                            <a href="" class="dropdowm-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdowm-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdowm-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdowm-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if items_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                            href="">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if items_total %}
                                    {% if items_total == 1 %}
                                    {{ items_total }} item
                                            {% else  %}
                                    {{ items_total }} items
                                            {% endif %}
                                        {% else %}
                                        0 items
                                        {% endif %}
                                    </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            </div>
        </header>

        {% if messages %}
        <div class="message-container"></div>
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        <footer class="container fixed-bottom footer-wrapper">
            <div class="row">
                <div class="col"></div>
                <div class="col-3  footer-items-wrapper">
                    <div><i class="footer-items fas fa-brands fa-square-facebook fa-lg"></i></i></div>
                    <div><i class="footer-items fas fa-brands fa-square-instagram fa-lg"></i></i></div>
                </div>
                <div class="col"></div>
            </div>
        </footer>

        {% block postloadjs %}
        {% endblock %}

    </body>

</html>