{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid body-footer-adjust">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font text-sri-logo">Shop</h2>
            {% if current_category %}
            <a class="cat-badge text-decoration-none" href="{% url 'shop' %}?category={{ current_category.name }}">
                <span class="p-2 mt-2 mx-2 badge badge-pill badge-sri rounded-1 border border-sri">
                    {{ current_category.friendly_name }}</span>
                    {% endif %}
            </a>
            {% if current_subcategory %}
            <a class=" text-decoration-none" href="{% url 'shop' %}?category={{ current_subcategory.name }}">
                <a class="cat-badge text-decoration-none"
                    href="{% url 'shop' %}?category={{ current_subcategory.name }}">
                    <span class="p-2 mt-2 mx-2 badge badge-pill badge-sri rounded-1 border border-sri">
                        {{ current_subcategory.friendly_name }}</span>
                </a>
                {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="product-container col-10 offset-1">

                <!-- Significantly copied from Code Institue Boutique Ado Walkthrough with slight modifications -->
                <div class="row mt-1 mb-2">
                    <div
                        class="col-12 col-md my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector"
                                class="custom-select custom-select-sm border rounded-0 border-sri {% if current_sorting != 'None_None' %}bg-sri-light text-sri-dark{% else %}text-sri-logo bg-sri{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by
                                    ---
                                </option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>
                                    Price
                                    (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>
                                    Price
                                    (high to low)</option>
                                <option value="likes_asc" {% if current_sorting == 'likes_asc' %}selected{% endif %}>
                                    Likes
                                    (low to high)</option>
                                <option value="likes_desc" {% if current_sorting == 'likes_desc' %}selected{% endif %}>
                                    Likes (high to low)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name
                                    (A-Z)
                                </option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>
                                    Name
                                    (Z-A)</option>
                                <option value="category_asc"
                                    {% if current_sorting == 'category_asc' %}selected{% endif %}>
                                    Category
                                    (A-Z)</option>
                                <option value="category_desc"
                                    {% if current_sorting == 'category_desc' %}selected{% endif %}>
                                    Category
                                    (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-sri-logo mt-3 text-center text-md-left">
                            {% if search_term or current_category or current_sorting != 'None_None' %}
                            <span class="small"><a class="text-sri-logo" href="{% url 'shop' %}">Shop Home</a> | </span>
                            {% endif %}
                            {{ products|length }} Products{% if search_term %} found for
                            <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>
                <!-- End copy -->

                <div class="row">
                    {% for product in products %}
                    <div class="col-sm- col-md-6 col-lg-4 col-xl-3">
                        <div class="card h-100 border-0 bg-sri text-sri-logo">
                            {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img- my-auto" src="{{ product.image.url }}"
                                    alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                    alt="There is no image for {{ product.name }}">
                            </a>
                            {% endif %}
                            <div class="card-body pb-0">
                                <p class="mb-0">{{ product.name }}</p>
                            </div>
                            <div class="card-footer pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                                            {% if product.category %}
                                            {% if product.subcategory %}

                                            <p class="small m-1 mb-0">
                                                <i class="fas fa-tag mr-1"></i>
                                                <a class="text-sri-logo"
                                                    href="{% url 'shop' %}?category={{ product.category.name }}">
                                                    {{ product.category.friendly_name}}
                                                </a>: <a class="text-sri-logo"
                                                        href="{% url 'shop' %}?subcategory={{ product.subcategory.name }}">
                                                        {{ product.subcategory.friendly_name}}
                                            </a>
                                            </p>
                                            {% else %}
                                            <p class="small m-1 mb-0">
                                                <i class="fas fa-tag mr-1"></i>
                                                <a class="text-sri-logo"
                                                    href="{% url 'shop' %}?category={{ product.category.name }}">
                                                    {{ product.category.friendly_name}}
                                                </a>
                                            </p>
                                            {% endif %}
                                            {% endif %}
                                            {% if product.likes %}
                                            <small class="text-sri-logo"><i
                                                    class="fa-sharp fa-solid fa-thumbs-up mr-1"></i>{{ product.likes }}</small>
                                                {% else %}
                                                <small class="text-sri-logo">No Likes</small>
                                                {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="btt-button rounded-0 border border-sri-light">
    <a class="btt-link d-flex nav-link h-100">
        <i class="fa-solid fa-arrow-up mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Script copied and very slightly modified from Code Institute Boutique Ado Walk-through.
        Ensures the code below is appended to any other code in the block,
        rather than replacing it -->

<!-- Allows user to scroll to top of shop window e-->
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

<!-- Provides sort functionality to sort-selector box -->
<script type="text/javascript">
    $('#sort-selector').change(function () {
        let selector = $(this);
        let currentUrl = new URL(window.location);

        console.log(selector);
        console.log(currentUrl);

        let selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split('_')[0];
            var direction = selectedVal.split('_')[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort", sort);
            currentUrl.searchParams.delete("direction", direction);

            window.location.replace(currentUrl);
        }
    })
</script>
<!-- End copy -->

{% endblock %}