.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 2px solid transparent;
    border-radius: 50px;
    background-color: rgb(243, 221, 214);
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #aa25bb;
    /* background-color: rgb(235, 213, 206); */
    background-color: rgb(246, 225, 219);
}

.StripeElement--webkit-autofill {
    background-color: rgb(248, 139, 104) !important;
}

.stripe-style-input::placeholder {
    color: rgba(77, 0, 82, 0.6);
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}


#paymnt-form .form-control,
#card-element {
    border: 1px solid rgb(248, 139, 104);
}