<div class="toast custom-toast rounded-0 border-top-0" data-autohide="false" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="arrow-up arrow-info"></div>
    <div class="w-100 toast-capper bg-info"></div>
    <div class="toast-header bg-sri">
        <img src="/media/lumberjackie.png" class="rounded img.thumbnail w-25 mr-2" alt="Sarah Rae Illustrations Logo">
        <strong class="mr-auto lead text-sri ">Alert!</strong>
        <button type="button" class="ml-2 mb-1 btn-sri close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body bg-sri-light text-sri-dark">
        {{ message }}
    </div>
    </div>