<div class="toast custom-toast rounded-0 border-top-0" data-autohide="false" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="arrow-up arrow-success"></div>
    <div class="w-100 toast-capper bg-success"></div>
    <div class="toast-header bg-sri">
        <img src="/media/lumberjackie.png" class="rounded img.thumbnail w-25 mr-2" alt="Sarah Rae Illustrations Logo">
        <strong class="mr-auto lead text-sri ">Success!</strong>
        <button type="button" class="ml-2 mb-1 btn-sri close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body bg-sri-light text-sri-dark">
        <div class="row">
            <div class="col">
                {{ message }}
                <hr class="mt-1 mb-2">
            </div>
        </div>
        {% if total and not on_profile_page %}
        <p class="text-sri-dark logo-font py-1">Your Shoping Cart ({{ product_count }})</p>
            <div class="cart-notofication-wrapper">
                {% for item in cart_items %}
                <div class="row">
                    <div class="col-3 my-1">
                        {% if item.product.image %}
                        <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item.product.name}}">
                        {% else %}
                        <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name}}">
                        {% endif %}
                    </div>
                    <div class="col-9">
                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                        <p class="my-0 small">Categories: {{ item.product.category }} |
                            {{ item.product.subcategory }}</p>
                            <p c;ass="my-0 small txt-muted">Qty: {{ item.quantity }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <strong>
                        <p class="mt-3 mb-1 text-sri-dark">
                            Total
                            <span class="float-right">£{{ total|floatformat:2 }}</span>
                        </p>
                    </strong>
                    <a href="{% url 'checkout' %}" class="btn btn-sri mt-5">
                        <span class="icon"><i class="fas fa-lock"></i>
                        </span>
                        <span class="logo-font">Go To Secure Checkout</span>
                    </a>
                </div>
            </div>
            {% endif %}
    </div>

</div>
</div>